<%- include("partials/header.ejs") %>

    <h1>Edit "<%= heading %>"</h1>
    <form action="/edit_post" method="post" id="edit_blog">
        <textarea name="edited_content" form="edit_blog"><%=display_content%></textarea>
        <button class="submit_button" type="submit" name="action" value="edit<%=i%>">Submit</button>
    </form>


<%- include("partials/footer.ejs") %>