<%- include("partials/header.ejs") %>

    <h1>Your Posts</h1>
    <%if(locals.post_count){
        for(let i=0 ; i<post_count; i++){ %>
            <form action="/action_on_post" method="post" id="main">
            <button id="heading" type="submit" name="action" value="post<%=i%>"><%=headings[i]%></button>
            <button id="edit" type="submit" name="action" value="edit<%=i%>">edit</button><p id="separator">/</p>
            <button id="delete" type="submit" name="action" value="del<%=i%>">delete</button>
        </form>
    <% }
        }else{%>
            <p>No posts to display right now, try creating one!</p>
        <%}%>

    <br><br>
    <form action="/newpost" method="POST">
        <input class="submit_button" type="submit" value="Create new post">
    </form>

    <% if(locals.blogcreated){ %>
        <p>Your post has been created!</p>
    <% } %>
    <% if(locals.blogedited){ %>
        <p>Your post has been edited!</p>
    <% } %>

<%- include("partials/footer.ejs") %>